<div class="card tarjeta-vista">
  <div class="card-body">
    <div class="contenedor-acerca">
      <h1>Acerca de</h1>
      <div>
        <button class="btn btn-success" (click)="editarDescripcion()">Editar</button>
        <button id="descripcion" class="btn btn-primary disabled" (click)="guardarDescripcion()">Guardar</button>
      </div>
    </div>
    <div class="textarea">
      <textarea id="informacion" cols="30" rows="10" placeholder="Ingresar informacion personal" disabled></textarea>
    </div>
  </div>
</div>
