.editar{
    width: 30px;
}
.contenedor-exp{
    display: flex;
    justify-content: space-between;
}
.boton-secreto{
    background-color: white;
    border: none;
}
.tarjeta-vista{
    margin: 15px;
    box-shadow: 0 0 5px;
    border-radius: 10px;
}