.redes{
    width: 30px;
}
.contenedor{
    display: flex;
    margin: 5px;
}
.bg-mine{
    background-color: rgb(152, 152, 152);
}
.perfil-dos{
    width: 25%;
}
.editar{
    width: 30px;
}
.hs-skill{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tarjeta-vista{
    margin: 15px;
    box-shadow: 0 0 5px;
    border-radius: 10px;
}