<div class="card tarjeta-vista">
    <div class="card-body">
      <h2>Hard Skills & Soft Skills</h2>
      <div class="row tarjetas">
        <div class="col-sm-4 hs-skill">
          Analisis de Situacion
          <img class="perfil-dos" src="assets/imagen/grafico.png" alt="grafico">
        </div>
        <div class="col-sm-4 hs-skill">
          Toma de Decisiones
          <img class="perfil-dos" src="assets/imagen/grafico.png" alt="grafico">
        </div>
        <div class="col-sm-4 hs-skill">
          Trabajo en equipo
          <img class="perfil-dos" src="assets/imagen/grafico.png" alt="grafico">
        </div>
      </div>
    </div>
  </div>