.redes{
    width: 30px;
}
.contenedor{
    display: flex;
    margin: 5px;
}
.bg-mine{
    background-color: rgb(152, 152, 152);
}
.perfil-dos{
    width: 25%;
}
.editar{
    width: 30px;
}
.contenedor-exp{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.contenedor-academia{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.foto-perfil{
    display: flex;
    align-items: center;
}
.hs-skill{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    background-color: white;
    border: 0;
    width: 99%;
}
.boton-secreto{
    background-color: white;
    border: 0;
}