<div id="login">
  <div class="row">
    <div class="card">
      <label for="usuario" class="form-label">Nombre de usuario</label>
      <input type="text" class="form-control" id="usuario">
      <label for="Contraseña" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="Contraseña">
      <div>
        <button class="btn btn-success boton-login" routerLink="ingresar">Ingresar</button>
        <a routerLink="cuentaNueva">Crear una cuenta</a>
        <div>
          <a routerLink="olvidoContraseña">¡Me olvidé la constraseña!</a>
        </div>
      </div>
    </div>
  </div>
</div>
