<div id="card-bod">
  <div class="card">
    <form [formGroup]="miFormulario">
      <div>
        <div id="username">
          <label for="usuario">Usuario</label>
        </div>
        <input
        [class.is-invalid]="miFormulario.get('usuario')?.touched && miFormulario.get('usuario')?.invalid"
        type="text"
        class="form-control"
        formControlName="usuario"
        >
      </div>
      <div>
        <div>
          <label for="contraseña">Contraseña</label>
        </div>
        <input
        [class.is-invalid]="miFormulario.get('contraseña')?.touched && miFormulario.get('contraseña')?.invalid"
        type="password"
        class="form-control"
        formControlName="contraseña">
      </div>
      <div>
        <button class="btn btn-success boton-login" routerLink="/ingresar">Ingresar</button>
      </div>
    </form>
  </div>
</div>
