.tarjeta-vista{
    margin: 15px;
    box-shadow: 0 0 5px;
    border-radius: 10px;
}
.boton-secreto{
    background-color: white;
    border: 0;
}
.editar{
    width: 30px;
}
.contenedor-exp{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.contenedor-academia{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
input{
    background-color: white;
    border: 0;
    width: 99%;
}