<div class="card tarjeta-vista">
    <div class="card-body">
            <div class="contenedor-exp">
                <div>
                    <h2>Formación academica</h2>
                </div>
                <div>
                    <button id="botonOculto" class="boton-secreto" (click)="agregarAlgo(); esconder()">
                        <img id="editar" class="editar" src="/assets/imagen/mas.png" alt="Agregar">
                    </button>
                </div>
            </div>
        <div id="contenedor-exp"></div>
        <div class="contenedor-academia">
            <h2>Experiencia</h2>
            <div>
                <button id="boton2" class="boton-secreto" (click)="agregarOtraCosa(); esconder2()">
                    <img class="editar" src="/assets/imagen/mas.png" alt="Agregar">
                </button>
            </div>
        </div>
        <div id="contenedor-academia"></div>
    </div>
</div>