<header>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-success rounded" aria-label="Eleventh navbar example">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">PortFolio</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09"
            aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a routerLink="/login" routerLinkActive="active">Inicio</a>
          <a routerLink="/prefil" routerLinkActive="active" *ngIf="authService.logIn">Perfil</a>
          <a routerLink="login" routerLinkActive="active" *ngIf="!authService.logIn">Login</a>
          <a class="nav-link" (click)="logout()" href="#" *ngIf="authService.logIn">Logout</a>

        </div>
      </nav>
    </div>
</header>
